In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#import the datasets
df1 = pd.read_csv("2006.csv.bz2")
df2 = pd.read_csv("2007.csv.bz2")

df1.head()

In [3]:
#merging the datasets
df = pd.concat([df1,df2])
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7453210,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,...,14,17,0,NaN,0,0,0,0,0,0
7453211,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,...,6,21,0,NaN,0,0,0,0,0,0
7453212,2007,12,15,6,1024.0,1025,1750.0,1735,DL,61,...,14,19,0,NaN,0,0,0,15,0,0
7453213,2007,12,15,6,1353.0,1315,1658.0,1622,DL,62,...,11,14,0,NaN,0,0,0,0,0,36
7453214,2007,12,15,6,1824.0,1800,2001.0,1928,DL,63,...,10,26,0,NaN,0,24,0,9,0,0

In [6]:
df=df.reset_index(drop=True)

In [13]:
#removing unneccesary columns 
df = df.drop(['Diverted','CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay','CancellationCode','Cancelled'], axis='columns')

KeyError: "['Diverted', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'CancellationCode', 'Cancelled'] not found in axis"

In [5]:
#it was observed that dep time and arr time had some erronous variables
df = df.loc[(df["DepTime"] <= 2359) & (df["ArrTime"] <= 2359)] #get rid of erronous times

In [7]:
df=df.dropna()
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,281.0,273.0,223.0,6.0,-2.0,ATL,PHX,1587,45,13
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,260.0,265.0,214.0,-5.0,0.0,ATL,PHX,1587,27,19
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,235.0,258.0,220.0,-23.0,0.0,ATL,PHX,1587,4,11
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,152.0,158.0,126.0,-8.0,-2.0,AUS,PHX,872,16,10
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,171.0,163.0,132.0,0.0,-8.0,AUS,PHX,872,27,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14268923,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,...,111.0,91.0,80.0,13.0,-7.0,MCO,ATL,403,14,17
14268924,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,...,248.0,254.0,221.0,5.0,11.0,ATL,SLC,1589,6,21
14268925,2007,12,15,6,1024.0,1025,1750.0,1735,DL,61,...,266.0,250.0,233.0,15.0,-1.0,LAX,ATL,1946,14,19
14268926,2007,12,15,6,1353.0,1315,1658.0,1622,DL,62,...,125.0,127.0,100.0,36.0,38.0,DFW,ATL,732,11,14
14268927,2007,12,15,6,1824.0,1800,2001.0,1928,DL,63,...,97.0,88.0,61.0,33.0,24.0,ATL,MCO,403,10,26

In [8]:
df = df.drop_duplicates()

In [9]:
df.shape #35 duplicated rows removed

(14268893, 21)

In [10]:
df.isnull().sum()

Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
dtype: int64

In [11]:
#exporting cleaned data to a new csv
df.to_csv("cleaned_data.csv")